

.quiz-history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-history {
  background-color: #8bd5e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
}

.quiz-card {
  border-bottom: 1px solid #eee;
  padding: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.quiz-card:hover {
  background-color: #b5c3c7;
  transform: scale(1.02);
}

.quiz-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.quiz-details {
  color: #777;
}
